<section id="auto-layout-columns" class="row">
  <div class="col-sm-6 pr-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Tree</h3>
      </div>
      <div class="card-content">
        <div class="card-body">
          <p>Utilize breakpoint-specific column classes for easy column sizing
            without an explicit numbered class like <code class="highlighter-rouge">.col-sm-6</code>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 pl-0">
    <div class=" card">
      <div class="card-header">
        <h3 class="card-title">Editor</h3>
      </div>
      <div class="card-content">
        <div class="card-body">
          <p>Utilize breakpoint-specific column classes for easy column sizing
            without an explicit numbered class like <code class="highlighter-rouge">.col-sm-6</code>.</p>
        </div>
      </div>
    </div>
  </div>
</section>